<template lang="html">
  <div class="user">
    <h1>This is {{username}} 's page</h1>
  </div>
</template>

<script>
export default {
  props: ["username"]
};
</script>

<style lang="css" scoped>
</style>
